@media (max-width: 992px) {
  .agencyment_hero_area {
    height: auto;
  }
  .header_section {
    padding-top: 10px;
  }
  #navbarSupportedContent {
    margin-top: 25px;
  }
  .slider_section {
    padding-top: 75px;
    padding-bottom: 90px;
  }
  .agencyment_about_section .detail-box {
    margin-right: 5%;
  }
  .agencyment_service_section .service_container .box {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
  .agencyment_about_section .img_container .img-box.b2 {
    margin-top: -5%;
  }
}

@media (max-width: 768px) {
  .slider_section .detail_box {
    text-align: center;
  }
  .slider_section .img_content {
    margin-top: 55px;
  }
  .agencyment_contact_section .map_container {
    margin-top: 45px;
  }
  .agencyment_info_section .info_contact a {
    margin-bottom: 15px;
  }
  .agencyment_service_section .service_container .box {
    flex-basis: 98%;
  }
  .agencyment_contact_section form {
    padding-right: 0;
  }
  .heading_container h2{ text-align:center; }
  .heading_container{ justify-content:center !important }
  .agencyment_widget_content{ padding-bottom:20px; }
}

@media (max-width: 576px) {
  .agencyment_about_section .img_container .img-box.b1 {
    width: 80%;
  }
  .agencyment_about_section .img_container .img-box.b2 {
    width: 55%;
  }
  .agencyment_info_section .info_form form {
    flex-direction: column;
  }
  .agencyment_info_section .info_form form input {
    width: 100%;
  }
  .agencyment_info_section .info_form form button {
    margin-top: 15px;
    padding: 10px 40px;
  }
}

@media (max-width: 420px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    right: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1199px){
  .slider_section .carousel-control-next{
    bottom: -6%;
  }
}